#project-inner{
    padding: 1rem;
    background-color: $inner-bg-color;
    width: 100%;

    .tab{ display: none; }

    .tab.show{ display: block; }

    .project{
        box-shadow: $box-shadow-light;
        background-color: $color-light;
        border-radius: 12px;
        padding: 1rem;
        
        .title{
            border-bottom: 1px solid rgba(0,0,0,0.1);
            
            position: relative;
            cursor: pointer;
            padding: .5rem; 
            

            h3{ 
                padding-right: .25rem;
                margin: 0;
             }

            p{
                max-width: 50%;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &::before{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;

                content: "+"
            }

            &.show::before{
                content: '_';
                top: 25%;
            }

            &.show p{
                overflow: visible;
            }

        }

        ul.todos{
            // display: none;
            margin: 0; 
            padding: 0;
            list-style: none;
            
            &.show{
                display: block;
            }
            
            li{
                display: flex;
                align-items: center;
                margin: 1rem 0;
                padding: .25rem 1rem;
                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 10px;

                
                input[type="checkbox"]{ 
                    margin-right: 1rem;
                }

                i{
                    font-size: 1.5rem;
                    padding: 0 .25rem;
                    cursor: pointer;
                }

                .task{
                    width: 100%;
                    display: flex;
                    align-items: center;

                    input[type="text"]{
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;

                        width: 100%
                    }

                    i{ color: green; }
                    
                }


                .controls{
                    margin-left: auto;
                    white-space: nowrap;

                    i{
                        &.edit{ color: $color-main; }
                        &.delete{ color: $color-secondary; }
                    }
                }
                
                &:hover{
                    border-color: $color-main;
                }

                &.complete{
                    text-decoration: line-through;
                    color: $color-light-dark;
                }
            }
        }
    }
}