#project-sidebar{
    height: 100vh;
    border-right: 5px solid $text-color-light-dark; 
    background-color: $sidebar-bg-color;

    ul{
        margin: 1rem 0;
        padding: 0;
        list-style: none;

        li.tab-link{
            color: $text-color-light-dark;
            font-size: 1.25rem;
            padding: .5rem 2rem;
            cursor: pointer;
            
            i{ 
                color: $color-secondary;
                padding-right: 1rem; 
            }

            &:hover{ background-color: $light-grey; }
        }
    }
}
