$sidebar-bg-color: #f7f7f7;

$text-color-light-dark: #555;

$color-dark: #333;
$color-light: #fff;

$color-main: #E18F8F;
$color-secondary: #102542;

$light-grey: rgba(0,0,0,0.1);


.color-main{
    color: $color-main;
}