$sidebar-bg-color: #f7f7f7;;
$inner-bg-color: rgba(0,0,0,0.1);

$color-dark: #3D2B3D;
$color-light-dark: #555;
$color-light: #fff;

$color-main: #D56F3E;
$color-secondary: #9B1D20;

$light-grey: rgba(0,0,0,0.1);

$box-shadow-light: 1px 1px 12px rgba(0,0,0,0.1);

.color-main{
    color: $color-main;
}